<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/d2l-button/d2l-button.html">

<dom-module id="gestor-clientes">
  <template>
    <style include="app-grid-style">
      :host {
        --app-grid-columns: 1;
        --app-grid-rows: 3;
        --app-grid-item-height: 100px;
        
        display: inline-block;
        padding: 10px;
      }
  
      ul {
        padding: 0;
        list-style: none;
      }
  
      .item {
        background-color: white;
      }
    </style>
    <h2>Gestor Clientes</h2>
    <ul class="app-grid">
      <li class="item">
        <d2l-button primary on-click="obtenerClientes">Primary</d2l-button>
      </li>
      <li class="item">
        <table>
          <tr><th>Clientes</th></tr>
          <template is="dom-repeat" items="{{clientes}}">
            <tr>
                <td>[[item.CustomerID]]</td>
                <td>[[item.ContactName]]</td>
                <td>[[item.CompanyName]]</td>
            </tr>
          </template>
        </table>
      </li>
    </ul>
	</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes:{
              type: Array,
              notify: true
          }
        };
      }
      obtenerClientes() {
        fetch('https://services.odata.org/V4/Northwind/Northwind.svc/Customers')
            .then(function(response) {
                return response.json();
            })
            .then(function(myJson) {
                console.log(myJson);
                this.clientes = myJson.value;
            });
      }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
