<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/app-layout/app-layout.html">
<link rel="import" href="../../bower_components/d2l-button/d2l-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">

<dom-module id="visor-app">
  <template>
    <style include="app-grid-style">
      :host {
        --app-grid-columns: 1;
        --app-grid-rows: 3;
        --app-grid-item-height: 100px;
      }
  
      ul {
        padding: 0;
        list-style: none;
      }
  
      .item {
        background-color: white;
      }
    </style>
    <h2>This is Visor Element [[prop1]]!</h2>
    <ul class="app-grid">
      <li class="item">
        <img src="https://bbva-devplatform.appspot.com/static/img/logos/logo-cells.svg">
      </li>
      <li class="item">
        <d2l-button primary on-click="incrementar">Primary</d2l-button>
        <paper-input aria-placeholder="mi-visor" value="{{username}}"></paper-input>
      </li>
      <li class="item">
        <table>
          <tr><th>Table 3x3</th></tr>
          <dom-repeat items="[[items]]">
              <template>
                  <tr><td>[[item]]</td><td>[[item]]</td><td>[[item]]</td></tr>
              </template>
          </dom-repeat>
        </table>
      </li>
      <li>
        Valor incremento: [[prop2]]
      </li>
      <li>
        Username: [[username]]
      </li>
    </ul>
	</template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorApp extends Polymer.Element {
      static get is() { return 'visor-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'visor-app'
          },
          prop2: {
            type: Number,
            value: 9999
          },
          items: {
            type: Array,
            value: [1,2,3]
          },
          username: {
            type: String
          }
        };
      }
      incrementar() {
        this.prop2 = this.prop2 +1;
      }
    }

    window.customElements.define(VisorApp.is, VisorApp);
  </script>
</dom-module>
